*.cpython
*.pyc
*.log
*.yaml
*.yml
*.wandb
wandb
__pycache__
wrappers/__pycache__
losses/__pycache__
.ipynb_checkpoints
.ipynb 
models/
train_models_2.sh
train_models_3.sh
train_many2.py
train_many3.py
