*.cpython
*.pyc
*.log
*.yaml
*.yml
*.wandb
wandb
__pycache__
wrappers/__pycache__
losses/__pycache__
.ipynb_checkpoints
.ipynb 
models/
train_models_2.sh
train_models_3.sh
train_many2.py
train_many3.py

cifar10.py

train_models.sh
train_models_sngp.sh
train_models_duq.sh
train_many.py
train_many_sngp.py
train_many_duq.py
train_full_size.sh
train_full_size.py
train_full_cifar.sh
train_full_cifar.py
train_full_cifar_sngp.sh
train_full_cifar_duq.sh